<div class="row">
  <div class="col-xs-12 col-md-4 col-md-offset-4">
    <h2>Login</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class:"form-vertical") do |f| %>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, placeholder: "user@domain.com", class: "form-control", required: true %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", placeholder: "Senha", class: "form-control", required: true, minlength: 6 %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="checkbox">
          <%= f.label "" do %>
            <%= f.check_box :remember_me %>
            <span>Manter conectado</span>
          <% end -%>
         </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Logar", class: "btn btn-primary" %>
        <%= link_to connect_facebook_path, remote: true  do %>
          <%= image_tag "facebook.png", class: "facebook-connect" %>
        <% end -%>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>

