

<h3><%= @product.name %></h3>

<div class="row">
  <div class="col-xs-3">
    <%= image_tag @product.image_link %>
    <%= @product.description %>
    <%= @product.price %>
  </div>
</div>

<%= link_to 'Voltar', products_path %>
