<!DOCTYPE html>
<html>
  <head>
    <title>E commerce</title>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= link_to('Sair', destroy_user_session_path,method: :delete) if current_user || current_admin %>
    <%= current_admin.email if current_admin %>
    <%= current_user.email if current_user %>
    <%= link_to('Gerenciar produtos', adm_products_url) if current_admin %>
    <%= yield %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
